<div class="page-content">
 


  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxFlex>
    <div fxLayout="column" fxFlex="50" fxFlexAlign="start">
      <md-card class="page-card">
      <!--  <md-card-title>Member Location</md-card-title>
        <md-card-subtitle>List of last known locations</md-card-subtitle>-->
        <md-card-content>


          <lk-maps-googlemap></lk-maps-googlemap>

        </md-card-content>
      </md-card>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlexAlign="start">
      <!--<md-card class="page-card card-content-full card-content-tabs" fxFlexAlign="start" fxFlex>-->
      <md-card class="page-card">
        <md-tab-group>
          <md-tab label="Active Member">
            <md-list>
              <md-list-item>
                <img md-list-avatar src="assets/img/avatar3.png" alt="...">
                <h3 md-line> Tim Max <span class="pull-right"> <small><i class="fa fa-map-marker"></i> just now</small></span></h3>
                <p md-line>
                  <!--<span> <small><i class="fa fa-map-marker"></i> Lat: Long:</small></span>-->
                </p>
              </md-list-item>


              <md-list-item>
                <img md-list-avatar src="assets/img/avatar.jpg" alt="...">
                <h3 md-line> Chiho Sin <span class="pull-right"> <small><i class="fa fa-map-marker"></i>  2 min ago</small></span></h3>
                <p md-line>
                  <!--<span> <small>Hello!</small></span>-->
                </p>
              </md-list-item>

              <md-list-item>
                <img md-list-avatar src="assets/img/avatar1.png" alt="...">
                <h3 md-line> Alex Chan <span class="pull-right"> <small> <i class="fa fa-map-marker"></i>  8 min ago</small></span></h3>
                <p md-line>
                  <!--<span> <small>I'm finish my job!</small></span>-->
                </p>
              </md-list-item>
            </md-list>
          </md-tab>
          <!--<md-tab label="Progress">
        <md-list>
          <md-list-item>
            <h3 md-line>Current Project</h3>
            <p md-line>
              <small>60%</small>
            </p>
            <p md-line>
              <md-progress-bar [mode]="'buffer'"
                               [value]="30"
                               [bufferValue]="60">
              </md-progress-bar>
            </p>
          </md-list-item>
          <md-list-item>
            <h3 md-line>Sever Task</h3>
            <p md-line>
              <small>70%</small>
            </p>
            <p md-line>
              <md-progress-bar [mode]="'determinate'"
                               [value]="70">
              </md-progress-bar>
            </p>
          </md-list-item>
          <md-list-item>
            <h3 md-line>Database Backup</h3>
            <p md-line>
              <small>Waiting</small>
            </p>
            <p md-line>
              <md-progress-bar [mode]="'indeterminate'">
              </md-progress-bar>
            </p>
          </md-list-item>
        </md-list>
      </md-tab>-->
        </md-tab-group>
      </md-card>
      <md-card class="page-card">
        <md-card-title>History of Location</md-card-title>
        <md-card-content>
          <input type='text'
                 style='padding:8px;margin:15px auto;width:30%;'
                 placeholder='Type to filter the name column...'
                 (keyup)='updateFilter($event)'>

       


          <ngx-datatable #mydatatable
                         class="material  vertical-scroll"
                         [headerHeight]="50"
                         [limit]="1"
                         [sortType]="'multi'"
                         [columnMode]="'force'"
                         [scrollbarV]="true"
                         [footerHeight]="50"
                         [rowHeight]="35"
                         [rows]="rows">

            <ngx-datatable-column name="Member">
              <template ngx-datatable-cell-template let-value="value" let-row="row">
                <span>
                  <img md-list-avatar src="{{value.avatar}}" alt=".." class="shrinkImg">
                  <span class="pull-right"> {{value.name}}</span>
                </span>
              


</template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Time">
              <template ngx-datatable-cell-template let-value="value" let-row="row">
                <span title="Double click to edit"
                      (dblclick)="editing[row.$$index + '-time'] = true"
                      *ngIf="!editing[row.$$index + '-time']">
                  {{value}}
                </span>
                <input readonly autofocus
                       (blur)="updateValue($event, 'time', value, row)"
                       *ngIf="editing[row.$$index + '-time']"
                       type="text"
                       [value]="value" />
              </template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Long">
              <template ngx-datatable-cell-template let-row="row" let-value="value">
                <span title="Double click to edit"
                      (dblclick)="editing[row.$$index + '-long'] = true"
                      *ngIf="!editing[row.$$index + '-long']">
                  {{value}}
                </span>

              </template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Lat">
              <template ngx-datatable-cell-template let-value="value">
                {{value}}
              </template>
            </ngx-datatable-column>

          </ngx-datatable>


        </md-card-content>
      </md-card>
    </div>


      
    </div>

</div>
